#header {
    background-color: black;
    color: white;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    line-height: 80px;
}

#footer {
    background-color: black;
    color: white;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    line-height: 80px;
}

body {
    font-family: "proxima nova bold", "Helvetica Neue", Helvetica, Arial, Sans-serif;
     background-color: #c0bfbf;
} 

h1 {
       font-family: 57.5px;      
}

td {
    padding-right: 25px
}

.card-title {
    margin: 10px;
    width: 340px; /* Fixed width for each card */
    height: 210px; /* Fixed height for each card */
}
.title {    
    position:relative;
    margin: 10px;
    top: 45px;
    justify-content: right;
}

#title-group{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 20px;
}
#title-group .title {
    position:relative;
    justify-content: center;
    margin: 10px;
    top: 45px;
}



.separator {
    height: 1px;
    background: #dddddd;
    border-bottom: #ffffff solid 1px;
    margin-bottom: 1.25rem;
    margin-top: 25px;
    position: relative;
}

.separator h3{
    background: #fafafa;
    font-family: "proxima nova bold", "Helvetica Neue", Helvetica, Arial, Sans-serif;
    height: 22px;
    left: 50%;
    letter-spacing: 2.5px;
    line-height: 22px;
    margin-bottom: 20px;
    margin-inline-start: -160px;
    margin-left: -160px;
    margin-top: 0px;
    position: absolute;
    text-align: center;
    text-rendering: optimizelegibility;
    top: -10px;
    vertical-align: bottom;
    width: 320px; /* Adjusted width to fit the title */
}
.skills {
    font-size: 16px;
    margin-left: auto;
    margin-right: auto;     
}

.container {
    display: block; 
  
}

.column {
    display: flex;
    flex-wrap: wrap;    
    justify-content: center; /* Center the cards horizontally */
}

.card-title {

    display:block;
    text-align: center;
    margin: 10px;
    width: 340px; /* Fixed width for each card */
    height: 200px; /* Fixed height for each card */
    
  
  
}

.card-title img {
    border-radius: 20px;
    width: 150px;
    height: 150px;
    object-fit: cover;
}

.card {
    border-radius: 15px;
    text-align: center;
    margin: 10px;
    width: 340px; /* Fixed width for each card */
    height: 230px; /* Fixed height for each card */
    position: relative
}



.figcaption {
    justify-content: center;
    color:#ffffff;
    z-index: 1;
    opacity: 0;
    transition: .45 ease-in-out;
    background-color: rgba(46, 56, 95, 0.8);
    color: white;
    padding: 10px;
    text-align: center;
    font-size: 16px;
    border-radius: 0 0 15px 15px; /* Rounded corners at the bottom */
    position: relative;
 
    
}

.project-thumb {
    transform: scale(1);
    transition: transform 0.3s ease;
    width: 340px;
    height: 230px;
    object-fit: fill;
    border-radius: 15px;
    position: relative;
    overflow: hidden;    
}

.image {
    display: block;
    margin: 0px;

  
}


.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #2e385f;
    opacity: .80;
    transition: .45s ease-in-out;
    border-radius: 15px;
}


.logo {
    position: absolute;
    top: 120px;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: .99;
    transition: .45s ease-in-out;
    border-radius: 15px;
    display: block;
    margin :0 auto;
}

.logo img {
    max-width: 95%;
    max-height: 100%;
    border-radius: 15px;
}
   
.is-rounded {
    font-size: 18px;
    padding: 1.2rem;
    font-weight: 400;
    border-width: 2px;
   
    border-radius: 15px;
    opacity: 0;
}

@media (max-width: 1100px) {
.card-title {
    display:block;
    text-align: center;
    margin-bottom:5px;
    margin-top: -40px;
    height : auto;
    width: 100%; /* Fixed width for each card */
      
  
}   
.card-title img {
    margin-top: 90px;
    border-radius: 20px;
    width: 150px;
    height: 150px;
    object-fit: cover;
}

#summary {
    margin-top: 30px;
    
}

   

   
}









